<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Username</dt>
  <dd><%= @user.username %></dd>
</dl>

<% favorites = Favorite.where({ :user_id => @user.id }) %>
<dl class="dl-horizontal">
  <dt>Your favorites!</dt>
  <% favorites.each do |favorite| %>
  <dd>
  <%= Dish.find_by({ :id => favorite.dish_id }).name %>
  at
  <%= Venue.find_by({ :id => favorite.venue_id }).name %>
  </dd>
  <% end %>
</dl>

